[Unit]
Description=Linux Patch API - Delayed restart after package upgrade

[Timer]
OnActiveSec=30
AccuracySec=1s
RemainAfterElapse=no
Unit=linux-patch-api-upgrade-restart.service

[Install]
WantedBy=timers.target
